Repository awslabs/graphstorm, pull requests merged in 2025-08, with the labels that each got.

#1309 [SageMaker] [breaking] Only upload latest epoch at the end of SageMaker training
  python/graphstorm/sagemaker/sagemaker_train.py
  python/graphstorm/sagemaker/utils.py
  sagemaker/launch/launch_train.py
  tests/unit-tests/test_sagemaker_train_unit.py
Labels: break back compatibility, ready, sagemaker, 0.5

#1314 [SageMaker] [breaking] Only upload latest epoch at the end of SageMaker training
  python/graphstorm/sagemaker/sagemaker_train.py
  python/graphstorm/sagemaker/utils.py
  sagemaker/launch/launch_train.py
  tests/unit-tests/test_sagemaker_train_unit.py
Labels: break back compatibility, ready, sagemaker

#1312 [Doc] Real-time inference documentation
  docker/push_graphstorm_image.sh
  docs/source/cli/model-training-inference/distributed/sagemaker.rst
  docs/source/cli/model-training-inference/index.rst
  docs/source/cli/model-training-inference/real-time-inference-spec.rst
  docs/source/cli/model-training-inference/real-time-inference.rst
  sagemaker/launch/launch_realtime_endpoint.py
Labels: documentation, enhancement, ready, sagemaker, 0.5

#1320 [Bug] Fix feat_dim for multi-column feature transformation
  python/graphstorm/gconstruct/transform.py
  tests/unit-tests/gconstruct/test_construct_graph.py
Labels: bug, ready, 0.5, gconstruct

#1321 [Bug] Fix real-time inference workflow when adding reverse edges
  graphstorm-processing/graphstorm_processing/config/config_parser.py
  graphstorm-processing/graphstorm_processing/distributed_executor.py
  graphstorm-processing/tests/test_gsprocessing_config.py
  python/graphstorm/dataloading/metadata.py
  python/graphstorm/gconstruct/construct_graph.py
  tests/sagemaker-tests/test_sagemaker_entry.py
  tests/unit-tests/data_utils.py
  tests/unit-tests/test_gsf.py
  tests/unit-tests/test_metadata.py
Labels: bug, ready, gsprocessing, 0.5, gconstruct

#1326 [sagemaker] [rt-inference] Add option to deploy real-time endpoint into VPC, allow custom entry point location
  docs/source/cli/model-training-inference/real-time-inference.rst
  sagemaker/launch/launch_realtime_endpoint.py
Labels: sagemaker

#1329 [GSProcessing] Ensure GSProcessing Entry point is backwards compatible with versions < 0.5
  graphstorm-processing/graphstorm_processing/distributed_executor.py
Labels: enhancement, ready, gsprocessing
